/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  margin: 0;
  /*padding-top: 3rem;*/
  color: #5a5a5a;
}

a{
  display: inline-block;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 3rem;
}
.carousel-inner{
  padding-top: 7rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/*top Section*/
.topClass{
  margin-top : 5rem;

}
.topClass container{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.board-state{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/*table*/
table, td, th{
  border : 1px solid black;
  line-height: 2em;
}

#edit{
  border : none;
}

/*boardList*/
.boardList{
  margin-top: 2rem;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-right: 3em;
}
.boardList a{
  display: inline-block;
  margin : 0;
  font-size: 17px;
  width: 2em;
  text-decoration: none;
}

.boardList #isSelected{
  background-color: skyblue;
}

.boardList a:hover{
  background-color: gray;
}

table{
  width : 100%;
  text-align: center;
}

/*writing page form*/
.writing-form{
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right : auto;
}

.writing-form input{
  width : 100%;
}

.writing-form textarea{
  width : 100%;
  min-height: 50vh;
}

.writing-form button{
  margin : 0;
  width : 33%;
  background: none;
  border : none;
  border : 2px solid #E9A1FA;
  line-height: 2em;
}

.writing-form button:hover{
  background-color: #E9A1FA;
}

#writingIcon{
  font-size: 25px;
}

/*board*/
.board a{
  color : black;
}
.board-nav{
  display: flex;
  justify-content: space-between;
}
.board-form{

}
.board-menu-container{
  display: flex;
  font-size: 25px;
}
.board-form button{
  background: none;
  border: none;
  margin-left: 0.5em;
}


/*footer*/
footer{
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.contactImg{
  width : 30px;
  height: 30px;
  margin-left: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media(max-width:40em){
  .writing-form button{
    width : 100%;
  }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
